<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Accept-Language" content="en">
    <title>Data exchange software connecting the healthcare community</title>
    <link href="/dspResources/css/front-end/main.css?v=2" rel="stylesheet" />
    <link href="/dspResources/css/front-end/themes/theme-health-e-link.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/dspResources/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LdlQq4ZAAAAAO9cnnot0LGzpnVw9ELYP7VKC-Ye"></script>
    <script src="/dspResources/js/vendor/bootstrap.min.js"></script>
    <script src="/dspResources/js/mediaModal.js"></script>
    <script src="/dspResources/js/overlay.js"></script>
    <script src="/dspResources/js/vendor/sprintf.js"></script>
    <script src="/dspResources/js/front-end/main.js"></script>
  </head>
    <body class="login-layout" style="background-color:#fff">
        <div class="main-container" >
            <div class="main-content">
               <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container" style="height:100%; width:500px; background-color: #fff; margin-top:50px;">
                            <div class="space-6"></div>
                            <div class="position-relative"  >
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                             <div class="card-header bg-dark text-center">
                                                 <span class="text-white text-bold"><strong>The Requested Page is not Available</strong></span>
                                            </div>
                                            <div class="card-body">
                                                <h2>We apologize, an unexpected error has occurred.</h2>
                                                <p>
                                                The site administrators have been contacted.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>